<div th:fragment="header" style="position: sticky; z-index: 1000; top: 0;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="/" th:text="${shopName}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" th:if="${!#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" th:href="@{/login}">Đăng nhập</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" th:href="@{/customer/account-manager}">Quản lí tài khoản</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/ai}">AI chatbot</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" th:href="@{/customer/order-history}">Lịch sử đơn hàng</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link position-relative" th:href="@{/customer/shopping-cart}">
                            <img th:src="@{/images/icons/cart.svg}" width="16" height="16" alt="cart icon">
                            <span class="position-absolute translate-middle badge rounded-pill bg-danger"
                                  id="cartNumber" style="top: 15%; left: 88%;">
                            </span>
                        </a>
                    </li>
                </ul>
                <!-- Search Form -->
                <form method="get" th:action="@{/search-product}" class="d-flex ms-auto">
                    <input type="text" name="keyword" class="form-control me-2" placeholder="Tìm kiếm sản phẩm..."
                        th:value="${keyword}" aria-label="Tìm kiếm sản phẩm" required>
                    <button class="btn btn-outline-success" style="width: 123px" type="submit">Tìm kiếm</button>
                </form>
            </div>
        </div>
    </nav>
    <script th:src="@{/js/customer/cartItem.js}"></script>
</div>